/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 3, 2016, 6:59:11 AM
    Author     : Phong
*/

.height300{
    height: 300px;
}
.simpleBG{
    background-color: #cc00cc;
    color: white;
    
}