#bg {
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
}

.navbar-custom {
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-custom .navbar-header > a {
    padding-top: 0px;
}

.navbar-custom .navbar-header > a > img {
    width: 88px;
    height: 50px;
}

.navbar-custom .navbar-nav > li > a {
    color: #FFD1DC;
    font-weight: bold;
    font-size: 17px;
}

.navbar-custom .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background-color: #000;
}

.search-custom {
    width: 58.5%;
    margin-left: 3%;
    margin-righ: 3%;
}

.search-custom .input-group .input-lg {
    height: 2em;
    box-shadow: none !important;
    border: #FFD1DC solid 3px;
    border-right: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.search-custom .input-group .btn {
    background-color: #fff;
    height: 2em;
    outline: none;
    box-shadow: none !important;
    border: #FFD1DC solid 3px;
    border-left: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-custom .input-group .btn > i {
    color: #FFD1DC;
    top: -2px;
}

.navbar-custom-bottom {
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-custom-bottom .navbar-audio-button-left {
    padding-left: 10%;
}

.navbar-custom-bottom .navbar-audio-button-right {
    padding-left: 5%;
}

.navbar-custom-bottom .navbar-audio-button-left > li > a > span {
    color: #FFD1DC;
    font-weight: bold;
    font-size: 17px;
}

.navbar-custom-bottom .navbar-audio-button-right > li > a > span {
    color: #FFD1DC;
    font-weight: bold;
    font-size: 17px;
}

.nav-center {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.45%;    
}

.navbar-custom-bottom .nav-center > li > img {
    width: 40px;
    height: 40px;
}

.nav-center-info {
    width: 80%;
    margin-left: 2%;
}

.navbar-custom-bottom .nav-center .nav-center-info > li > p {
    color: #ffd1dc;
}
