/* BACKGROUND */
#bg {
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}
/* END BACKGROUND */

/* TOP NAVBAR */
.navbar-top-custom {
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-top-custom .navbar-header {
    padding-top: 0px;
}

.navbar-top-custom .navbar-header > img {
    width: 88px;
    height: 50px;
}

.navbar-top-custom .navbar-nav > li > a {
    color: #FFD1DC;
    font-weight: bold;
    font-size: 17px;
}

.navbar-top-custom .navbar-nav > li > a:hover, .navbar-top-custom .navbar-nav > li > a:focus {
    background-color: #FFD1DC;
    color: #000;
}

.search-custom {
    width: 59.5%;
    margin-left: 3%;
}

.search-custom .input-group .input-lg {
    height: 1.9em;
    box-shadow: none !important;
    border: #FFD1DC solid 3px;
    border-right: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.search-custom .input-group .btn {
    background-color: #fff;
    height: 1.9em;
    outline: none;
    box-shadow: none !important;
    border: #FFD1DC solid 3px;
    border-left: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-custom .input-group .btn .fa-search {
    color: #FFD1DC;
    position: relative;
    bottom: 0.3em;
}
/* END TOP NAVBAR */

/* BOTTOM NAVBAR */
ul {
    list-style-type: none;
}

.navbar-bottom-custom {
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-bottom-custom .navbar-nav > li > a:hover, .navbar-bottom-custom .navbar-nav > li > a:focus {
    background-color: #FFD1DC;
    color: #000;
}

.navbar-bottom-custom .navbar-audio-button-left {
    padding-left: 10%;
}

.navbar-bottom-custom .navbar-audio-button-left > li > a {
    color: #FFD1DC;
    font-weight: bold;
    font-size: 17px;
}

.navbar-bottom-custom .navbar-audio-button-left .fa-play, .navbar-bottom-custom .navbar-audio-button-left .fa-pause {
    width: 46px;
    padding-left: 35%;
}

.navbar-bottom-custom .navbar-audio-button-right {
    padding-left: 5%;
}

.navbar-bottom-custom .navbar-audio-button-right > li > a {
    color: #FFD1DC;
    font-weight: bold;
    font-size: 17px;
}

.nav-center {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.39%;    
}

.navbar-bottom-custom .nav-center > li > img {
    width: 40px;
    height: 40px;
}

.nav-center-info {
    margin-left: 2%;
}

.navbar-bottom-custom .nav-center .nav-center-info > li > span {
    color: #ffd1dc;
}

.progress {
    height: 5px;
    width: 80%;
    background-color: #999;
    float: left;
    margin-bottom: 0;
    margin-top: 1.5%;
}

.progress .progress-bar {
    background-color: #FFD1DC;
}

.time-passed {
    float: left;
    color: #FFD1DC;
    margin-right: 3%;
}

.duration {
    float: left;
    margin-left: 3%;
    color: #fff;
}

/* END BOTTOM NAVBAR */

/* CONTENT */
.content {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;
    z-index: 1;
}
/* END CONTENT */


/*Phong*/
#contentView{
    position: relative;
    top: 3.9em;
    background-color: rgba(255,255,255,1);
}
/*.album-list .row {
=======
/* ALBUMS PAGE */
.album {
    width: 18%;
    float: left;
    margin: 3.5%;
    border: solid 2px #000;
    border-radius: 5px;
    box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
}

.album > p > a {
    text-decoration: none;
}

.album .image-container > a > img {
    width: 100%;
    height: auto;
    border-bottom: solid 2px #000;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.image-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #fff;
}

.image-container:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, 0.6);
}

.play-button {
    position: absolute;
    font-size: 3em;
    margin: 35%;
    margin-left: 40%;
}
/* END ALBUMS PAGE */

/* PROFILE PAGE*/            
user-profile-page {
    width: 60%;
    height: auto;
    border: solid 2px #000;
}
/* END PROFILE PAGE*/